#jinja2: lstrip_blocks: "true", trim_blocks: "false"
{% set config = configuration %}
{# Device Configuration #}
{% for section in [
    'system',
    'chassis',
    'interfaces',
    'snmp',
] %}
    {% if section in config %}
{{ section }} {
    {% filter indent(4, true) %}
    {% include 'ex/' + section + '/main.j2' %}
    {% endfilter %}
}
    {% endif %}
{% endfor %}

