#jinja2: lstrip_blocks: "true", trim_blocks: "false"
{% set config = configuration %}
{# Device Configuration #}
{% for section_name in [
    'system',
    'chassis',
    'interfaces',
    'snmp',
    'forwarding-options',
    'policy-options',
    'access',
    'routing-options',
    'protocols',
    'poe',
    'virtual-chassis',
    'vlans',
] %}
    {% if section_name in config %}
        {% set section = config.get(section_name) %}
{{ section_name }} {
    {% filter indent(4, true) %}
    {% include 'ex/' + section_name + '/main.j2' %}
    {% endfilter %}
}
    {% endif %}
{% endfor %}
