{% if 'bpdu-block' in proto %}
bpdu-block {
    {% if 'disable-timeout' in proto.get('bpdu-block') %}
    disable-timeout {{ proto.get('bpdu-block').get('disable-timeout') }};
    {% endif %}
}
{% endif %}
